body {margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    font-family: sans-serif;
    align-items: center;
    text-align: center;
  
}
#taskInput{
height: 27px;
width: 45%;



}
button{
    background-color: #f93a3a; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: right;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-align: right;
}
table {
    width: 50%;
    margin: auto;
    text-align: left;
 
}




